/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  
  /* Use variables */
  background-color: var(--color-background-secondary);
  border-bottom: 1px solid var(--color-border);
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  
  /* Use variables */
  color: var(--color-text-primary);
  text-decoration: none;
}

img{
    height: 100px;
    width: 100px;
}

.navbar-links button {
  font-size: 1rem;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.nav-button-secondary {
  background-color: transparent;
  
  /* Use variables */
  color: var(--color-text-primary);
  margin-right: 12px;
}

.nav-button-primary {
  /* Use variables */
  background-color: var(--color-primary);
  color: white;
}

.nav-button-primary:hover {
  background-color: var(--color-primary-hover);
}